
/*************  ***************/
/* Custom Property */
/************  ***************/

:root{
  --clr-dark:hsl(230,35%,7%);
  --clr-light:hsl(230,77%,90%);
  --clr-white:hsl( 0, 0% , 101%);
}

/*************  ***************/
/* reset */
/************  ***************/


/*************  ***************/
/* box sizing , reset margin */
/************  ***************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,h2,h3,h4,h5,p,figure,picture {
  margin: 0;
}

/* setting up the body */
body{
  line-height: 1.5;
  min-height: 100vh;
}

/* make image easier to work with */
img,picture{
  max-width: 100%;
  display: block;
}

/* make forms easier to work with */
input,button,textarea,select{
  font: inherit;
}

/* remove animation for people who turened them off */
@media (prefers-reduced-motion: reduce){
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

}

/*************  ***************/
/* utility classes */
/************  ***************/

.flex{
  display: flex;
  gap: var(--gap,1rem);
}
.grid{
  display: grid;
  gap: var(--gap,1rem);
}

.container{
  padding-inline:  2rem;
  max-width: 80rem;
  margin-inline:  auto;
}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

.box{
  background: lightblue;
  padding: 3rem;
  /* width: 4rem; */
  /* height: 3.5rem; */
  margin-top: 4rem;
}

/* colors */
.bg-dark{
  background: hsl(var(--clr-dark));
}
.bg-light{
  background: hsl(var(--clr-light));
}
.bg-white{
  background: hsl(var(--clr-white));
}

.text-dark{
  color: hsl(var(--clr-dark));
}
.text-light{
  color: hsl(var(--clr-light));
}
.text-white{
  color: hsl(var(--clr-white));
}

/* .flow > *:not(:last-child){ */
  /* margin-top: 1rem; */
  /* outline: 1px solid red; */
/* } */

/* or  */
.flow > * + *{
  margin-top: 1rem;
  outline: 1px solid red;
  color: var(--clr-dark,blue);
}

/* for nesting */
.card :where(h1,h2,h3){
  text-align: center;
}
/* is : is as more specifity compared to where */